/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Responsive font */
html {
    font-size: 62.5%;
  }

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
header {
    width: 100%;
    height: 40px;
    background-color: black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* navigation */

nav {
    height: 40px;
    margin: 0 10%;
}

nav li {
    font-size: 1.3rem;
    float: left;
    width: 6.06%;
    height: 30px;
    padding: 1rem;
}

nav li a, nav li a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}


.nav_img {
    width: auto;
    padding: 0;
}

.signin, .search {
    width: 15.15%;
}

.more {
    width: 12.12%;
}

.greet h2 {
    font-size: 2rem;
    float: left;
    width: 50%;
    padding: 0 .3em;
}

.greet h2 + h2 {
    text-align: right;
}